
/*from google maps geocode api*/
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */

#user-page {
  text-align: center;
}

#fav-list {
  text-align: left;
}

#rate-list {
  text-align: left;
}

.navbar-btn {
  margin: 10px;
}

.navbar-default .navbar-text {
  color: black;
}

.navbar.navbar-default {
  background-color: #87BFB8;
}

.page-header {
  margin: 15px 10px 15px 10px;
  padding: 0;
  border-bottom: 1px solid #eee;
}

html, body {
  height: 100%;
  margin: 5px;
  padding: 5px;
  background-size: cover;
  background: url(images/hiker.jpg) no-repeat center center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Acme", "Chonburi", sans-serif;
  font-weight: 900;
}

h1 small {
  font-weight: 900;
  color: black;
}

h3 small{
  font-weight: 900;
  color: black;
}

a {
  color: #040C6B;
  text-decoration: none;
}

.page-header{
  font-weight: 900
}

.panel {
  background-color: #87BFB8;
}
.panel-heading {
  font-weight: 600;
  color: black;
  background-color: #87BFB8;
}

.panel-default>.panel-heading {
  background-color: #87BFB8;
}

.list-group-item {
  background-color: #87BFB8;
}

a.list-group-item {
  color: black;
}

#everything, #everythingelse {
  filter: opacity(.8);
  font-weight: 600;
  color: black;
}

#map {
  height: 400px;
  filter: opacity(.9);
}

.transbox {
    margin: 0px 150px 0px 150px ;
    background-color: #87BFB8;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    opacity: 0.8;
}

.transbox2 {
    margin: 0px;
    background-color: #87BFB8;
    border: 1px solid black;
    padding: 10px 10px;
    opacity: 0.8;
}

/* rating */
.rating {
  width: 200px;
  float:left;
}

.rating span { 
  float:right; 
  position:relative; }

.rating span input {
  position:absolute;
  top:0px;
  left:0px;
  opacity:0;
}
.rating span label {
  display:inline-block;
  width:30px;
  height:30px;
  text-align:center;
  color:#FFF;
  background:#ccc;
  font-size:30px;
  margin-right:2px;
  line-height:30px;
  border-radius:50%;
  -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}

/* favorite */
.favorite {
  width: 300px;
  
}

.favorite span input {
  top:0px;
  left:0px;
  opacity:0;
}

.favorite span label {
  display:inline-block;
  width:90px;
  height:35px;
  text-align:center;
  color:#FFF;
  background:#515151;
  font-size:17px;
  margin-right:4px;
  line-height:35px;
  border-radius:75%;
  -webkit-border-radius:75%;
  }

.favorite span:hover ~ span label,
.favorite span:hover label,
.favorite span.checked label,
.favorite span.checked ~ span label {
    content: "\2665";
    color:#ff0028;
}