
/*from google maps geocode api*/
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
#map {
  height: 50%;
  width: 75%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* rating */
.rating {
  width: 300px;
  float:left;
}

.rating span { 
  float:right; 
  position:relative; }

.rating span input {
  position:absolute;
  top:0px;
  left:0px;
  opacity:0;
}
.rating span label {
  display:inline-block;
  width:30px;
  height:30px;
  text-align:center;
  color:#FFF;
  background:#ccc;
  font-size:30px;
  margin-right:2px;
  line-height:30px;
  border-radius:50%;
  -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}

/* favorite */
/*.favorite {
  width: 300px;
  float:left;
}

.favorite span { 
  float:right; 
  position:relative; }

.favorite span input {
  position:absolute;
  top:0px;
  left:0px;
  opacity:0;
}
.favorite span label {
  display:inline-block;
  width:30px;
  height:30px;
  text-align:center;
  color:#FFF;
  background:#ccc;
  font-size:30px;
  margin-right:2px;
  line-height:30px;
  border-radius:50%;
  -webkit-border-radius:50%;
}
.favorite span:hover ~ span label,
.favorite span:hover label,
.favorite span.checked label,
.favorite span.checked ~ span label {
    content: "\2665";
    background:#F90;
    color:#ff0028;
}*/