{% extends 'index.html' %}
{% block content %}

<div class="transbox">
  <div class="row">
    <div class="col-md-10">
      <form action="/local-hikes" name="search_params">
        <label for="address">Starting Point</label>
        <input id="address" name="address" type="text" placeholder="Enter Address" required>
        <label for="distance">Search Radius</label>
        <input id="distance" name="distance" type="text" placeholder="Search Radius" value=5 required>
        <button id="submit" type="submit">Go!</button>
      </form>
    </div>
  </div>
</div>

<script src="/static/get_trail_list.js"></script>

{% endblock %}
