{% extends 'index.html' %}
{% block content %}

<h3 id="trailId" data-trailid="{{ trail_id }}">
    {{ dict_trail_info["name"] }} Information
</h3>

{{ forecast }}
<br> <br>
{{ forecast[1] }}

{% if list_maps %}
    <h5>trail maps:</h5> 
        {% for map in list_maps %}
            <a href="{{ map }}">{{ map }}</a>
        {% endfor %}
{% endif %}

<br>

{% if list_attributes %}
    <h5>trailhead attributes:</h5> 
        <ul>
            {% for item in list_attributes %}
                <li> {{ item }} </li>
            {% endfor %}
        </ul>
{% endif %}

<br>

{% if list_photos %}
    <h5>trail photos:</h5> 
        {% for item in list_photos %}
            <img src="https:{{ item }}"> <br>
        {% endfor %}
{% endif %}

<br>

<script src="/static/trail_info_marker.js"></script>

{% endblock %}